/*CSS generico*/
:root{
    --gray: #959595;
    --dark: #040404;
    --blue: #2200ff;

}

.fc-p{
    color: var(--dark);
}

.logo{
    max-width: 15%;
    height: auto;
}

.container{
    background-color: var(--gray);
    font-family: 'Times New Roman', Times, serif;
}

.form-control{
    background-color: var(--blue);
    color: var(--gray);
}

.form-control:focus{
    background-color: var(--blue);
    color: var(--gray);
    box-shadow: none;
}

.btn:hover , .btn-check:checked + .btn ,.btn-check:hover + .btn{
    background-color: var(--blue);
    color: var(--gray);
    transition: 1s;
}

.mybtn{
    background-color: var(--blue);
    color: var(--dark);
    border: 1px solid var(--dark);
}

.mybtn:hover{
    background-color: var(--blue);
    color: var(--gray);
}

a{
    color: var(--blue);
}

a:hover{
    background-color: var(--blue);
    color: var(--gray);
}

.cover{
    background: url./static/media/cover_market.jpg) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover
}