/*CSS generico*/


:root{
    --gray: #e8e8e8;
    --dark: #040404;
    --blue: #2200ff;

}

.fc-p{
    color: var(--dark);
}

.logo{
    max-width: 10%;
    height: auto;
}

.container{
    background-color: var(--gray);
    font-family: 'Times New Roman', Times, serif;
}

.form-control{
    background-color: var(--dark);
    color: var(--gray);
}

.form-control:focus{
    background-color: var(--dark);
    color: var(--gray);
    box-shadow: none;
}

.btn:hover , .btn-check:checked + .btn ,.btn-check:hover + .btn{
    background-color: var(--dark);
    color: var(--gray);
    transition: 1s;
}

.mybtn{
    background-color: var(--gray);
    color: var(--dark);
    border: 1px solid var(--dark);
}

.mybtn:hover{
    background-color: var(--dark);
    color: var(--gray);
}

a{
    color: var(--dark);
}

a:hover{
    background-color: var(--dark);
    color: var(--gray);
}


/*CSS Marketplace*/

.btn1:hover , .btn-check1:checked + .btn1 ,.btn-check1:hover + .btn1{
    background-color: var(--blue);
    color: var(--gray);
    transition: 1s;
}